<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048967338195-9ohgblle3csrop8lgt81vgp4p3iduqhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048967338195-9ohgblle3csrop8lgt81vgp4p3iduqhq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048967338195-tg49io7arhqhjb09o99k4cih8vvg4rgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNlHha2qbCB3rWxrX-E_ympsaQuoKWYJM</string>
	<key>GCM_SENDER_ID</key>
	<string>1048967338195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daytodayfinanceapp</string>
	<key>PROJECT_ID</key>
	<string>daytoday-financeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>daytoday-financeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048967338195:ios:fc0de3177c49b074335c26</string>
</dict>
</plist>